#footer{

    width: -1;
    height: 50vh;
    background: url(../imagens/andrea-donato-MNu0n-3BIKs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}